* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #021823;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #021823;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.najot-talim-anim {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  overflow: hidden;
}

span {
  margin-top: -200px;
  animation: text 0.5s linear 0s forwards;
}

img {
  width: 300px;
  height: 300px;
  margin-top: -500px;
  animation: image 3s forwards;
}
@keyframes image {
  0% {
    margin-top: -200px;
  }
  50% {
    margin-top: 100px;
    width: 400px;
    height: 400px;
  }
  100% {
    margin-top: 0;
    width: 300px;
    height: 300px;
  }
}
@keyframes text {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 0;
  }
}
span:nth-child(12) {
  animation-delay: 2.1s;
}
span:nth-child(11) {
  animation-delay: 2.2s;
}
span:nth-child(10) {
  animation-delay: 2.3s;
}
span:nth-child(9) {
  animation-delay: 2.4s;
}
span:nth-child(8) {
  animation-delay: 2.5s;
}
span:nth-child(7) {
  animation-delay: 2.6s;
}
span:nth-child(6) {
  animation-delay: 2.6s;
}
span:nth-child(5) {
  animation-delay: 2.5s;
}
span:nth-child(4) {
  animation-delay: 2.5s;
}
span:nth-child(3) {
  animation-delay: 2.3s;
}
span:nth-child(2) {
  animation-delay: 2.2s;
}
span:nth-child(1) {
  animation-delay: 2.1s;
}
